<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenchen.dao.ArticleDao">

    <select id="findCommentByAid" resultType="Comment" >
      SELECT id,aid,nike_name,content,create_date FROM
      t_comment
      WHERE aid=#{aid}
    </select>

    <select id="findAllArticle" resultType="Article" >
        select t1.id,title,img,intro,type_id,create_date from t_note t1 LEFT JOIN t_note_type t2 on t1.type_id=t2.id
        <where>
            1=1
            <if test="@Ognl@isNotEmpty(name)">
                and title LIKE '%${name}%'
            </if>

            <if test="@Ognl@isNotEmpty(tag)">
                and t2.type_name =#{tag}
            </if>

        </where>

        ORDER by t1.id DESC




    </select>



</mapper>
